header, footer {
  background-color: var(--bg);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header h1,
footer p {
  margin: 0;
}

nav a {
  margin: 0 1rem;
  color: var(--fg-muted);
}

nav a:hover {
  color: var(--accent-blue);
}

