{{define "header"}}
<header>
  <h1>LensLocked.com</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a href="/faq">FAQs</a>
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
  </nav>
</header>
{{end}}
