{{define "main"}}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>LensLocked.com</title>
      <link rel="stylesheet" href="/static/css/tokyonight.css">
    </head>

    <body>

      {{template "header" .}}
      <main>{{template "content" .}}</main>
      {{template "footer" .}}

    </body>

</html>

{{end}}
